.flower-table .table-bordered tbody tr {
  border: 3px solid #b5d5d5;
}

.flower-table .table-bordered tbody tr td {
  border: 3px solid #b5d5d5;
}

.flower-table .table-bordered tbody tr {
  border: 3px solid #b5d5d5;
}

.flower-table .table-bordered thead tr {
  border: 3px solid #b5d5d5;
}

.flower-table .table-bordered thead tr th {
  border: 3px solid #b5d5d5;
}