/* Google Font:  Barlow regular -  italic */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@1&display=swap');

.footer {
  background-color: #e3f9f9;
  width: 100%;
}

.barlow-text {
  font-family: "Barlow", serif;
  font-weight: 400;
}

/* .footer-text {
  color: #b5d5d5;
} */