{% load static %}

<div class="container">
  <div id="flowerTable" class="mb-5">
    <div class="row">
      <div class="col"></div>
      <div class="col mt-5">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>
                <input
                  type="image"
                  class="whiteRose white-rose-right img-thumbnail"
                  src="{% static '/media/images/fillagree_rose.png' %}"
                />
              </td>
              <td>
                <input
                  type="image"
                  class="whiteRose white-rose-left img-thumbnail"
                  src="{% static '/media/images/fillagree_rose.png' %}"
                />
              </td>
            </tr>
            <tr>
              <td>
                <input
                  type="image"
                  class="whiteRose white-rose-right img-thumbnail"
                  src="{% static '/media/images/fillagree_rose.png' %}"
                />
              </td>
              <td>
                <input
                  type="image"
                  class="whiteRose white-rose-left img-thumbnail"
                  src="{% static '/media/images/fillagree_rose.png' %}"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
