{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Visualizer{% endblock %}</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link rel="stylesheet" , href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" , href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" , href="{% static 'css/center-graphic.css' %}" />
    <link rel="stylesheet" , href="{% static 'css/footer.css' %}" />
    <script src="{% static 'JS/shrinkTable.js'  %}" defer></script>
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% include "../visualizer_app/navbar.html" %}
    {% include "../visualizer_app/center-graphic.html" %}
    {% include "../visualizer_app/footer.html" %}
  </body>
</html>
